.navContainer{
  border-bottom: solid salmon thin;
  background-color: rgb(20, 19, 24);
  padding: 20px;

  display: flex;

  justify-content: flex-end;
  align-items: center;

  height: 35px;
}

.navElementsContainer{
  margin-right: auto;
}

.navElements{
  white-space: nowrap;
  overflow: hidden;
line-height: 3px;
}

.navElements:hover{
  color: white;
}

.searchContainer{
  /* margin-right: 20px; */
  display: flex;

  align-items: center;
  justify-content: center;
}

.searchInput{
   background-color: transparent;
   border: solid wheat thin;
   border-radius: 4px 0px 0px 4px;
   padding: 6px;
   color: wheat;
}

.searchInput:hover{
  border: solid white thin;
}

.searchButton{
  border: solid wheat thin;
  border-left: none;
  color: wheat;
  border-radius: 0px 4px 4px 0px; 
  padding: 6px;
  background-color: transparent;
}

.searchButton:hover{
  border: solid white thin;
  border-left: none;
  color: white;
  cursor: pointer;
}


@media all and (min-width: 800px) {
  .navElements{
  margin: 0px 20px;
  }
  .searchContainer {
    margin-right: 20px;
  }
  .searchInput{
    width: auto;
  }
  
}

@media all and (max-width: 800px) and (min-width: 300px) {
  .navElements{
    margin: 0px 10px;
    }
  .searchContainer {
    margin-right: 0px;
  }
  .searchInput{
    width: 80px;
  }
}